body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;

}

.container{
    width: 350px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius:  8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
}
#strength-text{
    margin: 10px 0;
    font-weight: bold;

}

.weak{
    color: red;
}
.medium{
    color: orange;
}
.strong{
    color: green;
}

ul{
    list-style: none;
    padding: 0;
}
li{
    margin: 5px 0;
    font-size: 14px;
}