body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container{
    width: 350px;
    background: white;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h2{
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    
}

input:focus{
    border-color:#74ebd5 ;

}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex: 1;
}

.password-wrapper button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -35px;
    font-size: 18px;
}



/* Strength Bar */
.strength-bar {
    width: 100%;
    height: 12px;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#strength-fill {
    height: 100%;
    width: 0%;
    background: red;
    border-radius: 10px;
    transition: width 0.5s ease, background 0.5s ease;
}

#strength-text{
    margin: 10px 0;
    font-weight: bold;

}

ul{
    list-style: none;
    padding: 0;
    text-align: left;
}

.weak{
    color: red;
}
.medium{
    color: orange;
}
.strong{
    color: green;
}


li{
    margin: 5px 0;
    font-size: 14px;
}

li.valid{
    color: green;
}
li.invalid{
    color: red;
}